################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mscFeedFunctionApp1/.vs/mscFeedFunctionApp1/v15/Server/sqlite3
/mscFeedFunctionApp1/.vs/mscFeedFunctionApp1/v15/.suo
