################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FunctionApp1/.vs/FunctionApp1/v15/Server/sqlite3
/FunctionApp1/.vs/FunctionApp1/v15/.suo
